.btn {  
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 0 9px 10px;
  color: #242424;
  background-color: var(--background-color);
  position: relative;
  border-right: 1px solid #242424;
  border-bottom: 1px solid #242424;

  background-image: linear-gradient(#242424, #242424);
  background-position: -150% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .4s ease-in-out, color .3s;
}

.btn:hover {
  background-size: 100% 100%;
  color: var(--background-color);
  z-index: 1;
}

.btn::after {
  content: '';
  margin-left: 9px;
  margin-right: -1px;
  width: 21px;
  height: 13px;
  -webkit-mask-image: url(../../../images/arrow.svg);
  mask-image: url(../../../images/arrow.svg);
  background-color: #242424;
  transition: background-color .3s;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #242424;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s, box-shadow .2s;
}

.btn:hover::before {
  transform: scaleX(1);
}

.btn:hover::after {
  background-color: var(--background-color);
}

.btn:active::before {
  box-shadow: 0 0 0 4px #242424;
}