.btn {  
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 0 9px 10px;
  color: #242424;

  position: relative;
  border-right: 1px solid #242424;
  border-bottom: 1px solid #242424;
  transition: color .2s ease-in;
}

.btn:hover {
  color: #e5e5e5;
}

.btn::after {
  content: '';
  margin-left: 9px;
  width: 21px;
  height: 13px;
  -webkit-mask-image: url(../../../images/arrow.svg);
  mask-image: url(../../../images/arrow.svg);
  background-color: #242424;
  transition: background-color .2s ease-in;
}

.btn::before {
  position: absolute;
  content: '';

  inset: 0;
  z-index: -1;
  
  background-color: #242424;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out, box-shadow .2s ease-in-out;
}

.btn:hover::before {
  transform: scaleX(1);
}

.btn:hover::after {
  background-color: #e5e5e5;
}

.btn:active::before {
  box-shadow: 0 0 0 4px #242424;
}