.card__button_download-span {
  background-image: url(../../../../images/downloadpieceW.svg);
  display: block;
  height: 56px;
  width: 0;
  transition: all 400ms ease 100ms;
  background-size: 200px 50px;
  background-color: black;
  background-position: 18px;
}
