.page {
  min-width: 320px;
  width: 100%;
  max-width: 1440px;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Neue Machina", "Formular", Arial, sans-serif;
}
