.slider-pagination {
  margin-top: 15px;
  width: 100px !important;
}
@media screen and (max-width: 540px) {
  .slider-pagination {
    position: absolute;
    top: 210px;
    left: 15% !important;
    z-index: 2;
  }
}
@media screen and (max-width: 420px) {
  .slider-pagination {
    position: absolute;
    top: 90px;
    left: 18px !important;
    z-index: 2;
  }
}
