.support {
  border: 0;
  background-color: transparent;
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  display: flex;
  align-items: center;
}