.support {
  border: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 3px 10px 3px 0;
  flex-direction: row-reverse;
}

.support::after {
  margin-left: 0;
  width: 25px;
  height: 25px;
  -webkit-mask-image: url(../../../images/plus.svg);
  mask-image: url(../../../images/plus.svg);
}

.support::before {
  transform-origin: left;
}