.navigation__link {
  text-decoration: none;
  white-space: nowrap;
  color: #242424;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.navigation__link::before {
  content: '';
  display: inline-block;
  background-image: url(../../../images/ellipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 24px;
  opacity: 0;
}

.navigation__link::after {
  content: '';
  display: inline-block;
  background-image: url(../../../images/ellipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 24px;
  transform: rotate(180deg);
  opacity: 0;
}

.navigation__link:hover::before {
  opacity: 1;
}

.navigation__link:hover::after {
  opacity: 1;
}