.header {
  display: flex;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #242424;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 9999;
}

@media screen and (max-width: 1439px) {
  .header {
    border-bottom: none;
    width: 100%;
  }
}