.card__button {
  display: block;
  padding: 0;
  margin: 0;
  width: 240px;
  height: 0px;
  border: none;
  background-repeat: no-repeat;
  background-size: 200px 50px;
}

@media screen and (max-width: 525px) {
  .card__button {
    height: 56px;
    border-top: 1px solid #242424;
    width: 244px;
  }
}
