.photo__swiper {
  width: 100%;
  height: 501px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1440px) {
  .photo__swiper {
    width: 90%;
    height: 752px;
  }
}

@media (max-width: 1200px) {
  .photo__swiper {

    height: 1004px;
  }
}

@media (max-width: 600px) {
  .photo__swiper {
    width: 100%;
    height: 567px;
  }
}
