.menu__separator {
  width: 1px;
  background-color: #242424;
  height: 50px;
  align-self: end;
  margin-top: 11px;
}

@media screen and (max-width: 1439px) {
  .menu__separator {
    height: .5px;
    width: 100vw;
    margin-top: 0;
  }
}