.card__text {
  display: block;
  margin: 24px 0 auto 24px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  max-width: 185px;
  max-height: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}
