.footer__partners-title {
  font-family: 'Formular', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  margin: 0;
  margin-right: calc(6% + 5px);
  white-space: pre-wrap;
}