.header__previous-btn {
  position: absolute;
  top: 94px;
  left: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
}

@media screen and (max-width: 1439px) {
  .header__previous-btn {
    position: relative;
    top: 0;
    left: 0;
  }
}