.card__location {
  font-family: 'Formular', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: block;
  color: #242424;
  max-width: 155px;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3px 0 0;
}
