.navigation {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .navigation {
    flex-direction: column;
    align-items: start;
    margin-left: 39px;
    margin-bottom: 0;
  }
}