.card__img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #242424;
  object-fit: cover;
  transition: all 400ms cubic-bezier(0.6, 0, 0.5, 0.1);
}

.card__img:hover {
  transform: matrix(1.2, 0, 0, 1.2, 0, 20);
  object-position: bottom;
  transition: all 400ms cubic-bezier(0.6, 0, 0.5, 0.1);
}
@media screen and (max-width: 525px) {
  .card__img {
    filter: grayscale(100%); 
  }
}