.card__button_download {
  background-color: #b7c09d;
  background-position: 18px;
  display: block;
  background-image: url(../../../../images/downloadpiece.svg);
}

.card__button_download:hover .card__button_download-span {
  width: 100%;
  transition: width 400ms ease 100ms;
}
