.menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .menu {
    /* visibility: collapse; */
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 60px;
    left: 0px;
    gap: 20px
  }
}